<footer class="page-footer">
    <nav class="main-nav main-nav--footer">
        <div class="container">
            <div class="row justify-content-between align-items-center main-nav__colums">
                <div class="col-auto">
                    <img class="main-nav__logo" src="img/Toshiba_logo.png" alt="Логотип" width="210" height="32">
                </div>
                <div class="col-auto main-nav__wrapper">
                    <ul class="row no-gutters justify-content-end align-items-center main-nav__list page-list">
                        <li class="col-auto main-nav__item"><a href="#">Продукты для бизнеса</a></li>
                        <li class="col-auto main-nav__item"><a href="#">Потребительсике товары</a></li>
                        <li class="col-auto main-nav__item"><a href="#">Пресса</a></li>
                        <li class="col-auto main-nav__item"><a href="#">Сервисные центры</a></li>
                        <li class="col-auto main-nav__item"><a href="#">О компании</a></li>
                        <li class="col-auto main-nav__item"><a href="#">Контакты</a></li>
                    </ul>
                </div>
                <div class="col-auto main-nav__up-button">
                    <a href="#top" class="up-button"></a>
                </div>
            </div>
        </div>
    </nav>
    <section class="page-footer__info">
        <div class="container">
            <div class="row justify-content-lg-between page-footer__colums">
                <div class="col-lg-4">
                    <h3 class="page-footer__title">Навигация по новостям</h3>
                    <ul class="page-footer__news-list page-list">
                        <li class="page-footer__news"><a href="#">Почта России</a></li>
                        <li class="page-footer__news"><a href="#">Социальная инфраструктура</a></li>
                        <li class="page-footer__news"><a href="#">Энергетика</a></li>
                        <li class="page-footer__news"><a href="#">Иннопром</a></li>
                        <li class="page-footer__news"><a href="#">Recfaces</a></li>
                        <li class="page-footer__news"><a href="#">IRID</a></li>
                        <li class="page-footer__news"><a href="#">Передача и распределение энергии</a></li>
                        <li class="page-footer__news"><a href="#">Банковское оборудование</a></li>
                        <li class="page-footer__news"><a href="#">Здравоохранение</a></li>
                        <li class="page-footer__news"><a href="#">Роботы</a></li>
                        <li class="page-footer__news"><a href="#">Гидропонные системы</a></li>
                    </ul>
                </div>
                <div class="col-sm-5 col-lg-4 page-footer__contacts">
                    <h3 class="page-footer__title">О компании</h3>
                    <p class="page-footer__text">Больше, чем обычные технологии.
                        Больше, чем бизнес. Toshiba – это забота о людях. Продукты
                        и решения, которые помогают людям жить лучше.
                    </p>
                    <ul class="socials page-list">
                        <li class="socials__item socials__item--footer socials__item--gt"><a href="#"></a></li>
                        <li class="socials__item socials__item--footer socials__item--gl"><a href="#"></a></li>
                        <li class="socials__item socials__item--footer socials__item--fb"><a href="#"></a></li>
                        <li class="socials__item socials__item--footer socials__item--tw"><a href="#"></a></li>
                    </ul>
                </div>
                <div class="col-sm-auto">
                    <h3 class="page-footer__title">Информация</h3>
                    <ul class="page-footer__info-list page-list">
                        <li class="page-footer__info-item"><a href="#">Сведения о защите информации</a></li>
                        <li class="page-footer__info-item"><a href="#">Условия использования материалов</a></li>
                    </ul>
                </div>
            </div>
            <div class="page-footer__copyright">
                <p>
                    Copyright &copy; 1995-2019 TOSHIBA CORPORATION, ALL
                    Rights Reserved.
                </p>
                <p>Сделано в Gefest Digital</p>
            </div>
        </div>
    </section>
</footer>