.fields__wrapper {
    max-width: 865px;
}

.fields__item {
    margin-bottom: 18px;

    &--aside {
        margin-right: 18px;
    }
}

.fields__item a {
    display: block;
    position: relative;
}

.fields__label {
    display: block;
    position: absolute;

    left: 0;
    right: 0;
    bottom: 0;

    padding: 10px 0;
    height: 47px;

    text-align: center;
    font-weight: 17px;
    color: #ffffff;
    font-weight: 400;

    opacity: 0;
    background-color: #fba648;
}

.fields__item a:hover .fields__label {
    opacity: 1;
}