.intro {
    position: relative;

    width: 100%;
    min-height: 237px;

    border: 1px solid #d7d7d7;
    
    background-repeat: no-repeat;
    background-size: 220px 167px,
    auto;
    background-position: -10px -13px,
    center -150px;

    &--bank {
        background-image: url('../img/intro-figures.svg'),
        url('../img/intro-back.png');
    }
    &--accum {
        background-image: url('../img/intro-figures.svg'),
        url('../img/new-york-back.jpg');
    }
    &--logic-system {
        background-image: url('../img/intro-figures.svg'),
        url('../img/intro-logic-system.jpg');
        background-position: -10px -13px,
        center -250px;
    }
    &--face-recognition {
        background-image: url('../img/intro-figures.svg'),
        url('../img/intro-face-rec.jpg');
        background-position: -10px -13px,
        center -230px;
    }
    &--energy {
        background-image: url('../img/intro-figures.svg'),
        url('../img/intro-energy.jpg');
        background-position: -10px -13px,
        center -240px;
    }
}

@media (min-width: @small) {
    .intro {
        min-width: 267px;
        background-size: 319px 248px,
        auto;
    }
}

@media (min-width: @large) {
    .intro {
        min-height: 330px;
        background-size: 413px 318px,
        cover;
    }
}

.intro__front {
    min-height: 237px;
    width: 100%;

    background-repeat: no-repeat;
    background-image: url('../img/accum-side-back.png'),
    linear-gradient(-50deg, #ffffff 28%, transparent 28.1%);
    background-position: 100% 100%,
    0 0;
    background-size: 178px auto, auto;
}

@media (min-width: @small) {
    .intro__front {
        min-width: 267px;
    }
}

@media (min-width: @medium) {
    .intro__front {
        background-size: 221px auto,
        auto;
    }
}

@media (min-width: @large) {
    .intro__front {
        min-height: 331px;
        background-size: 300px 250px, auto;
    }
}

.intro__title {
    position: absolute;

    left: 0;
    top: 0;

    box-sizing: border-box;
    padding: 14px 0 0 6px;
    margin: 0;
    width: 160px;

    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0;
    color: fade(#ffffff, 80%);

    &--medium-title {
        padding: 10px 0 0 6px;
        font-size: 14px;
    }
    
    &--large-title {
        padding: 10px 0 0 25px;
        font-size: 26px;
        line-height: 32px;
    }

    &--low {
        text-transform: lowercase;
    }
}

@media (min-width: @small) {
    .intro__title {
        width: 220px;
    }

    .intro__title--medium-title {
        padding: 14px 0 0 10px;
        font-size: 20px;
        line-height: 29px;
    }
}

@media (min-width: @large) {
    .intro__title {
        width: 320px;
    }

    .intro__title--medium-title {
        padding: 14px 0 0 15px;
        font-size: 26px;
        line-height: 38px;
    }
}