.intro-box {
    min-height: 255px;
    padding: 5px;
    width: 100%;
    
    background-image: url('../img/face-back.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
}

.intro-box__text {
    margin-top: 65px;
    margin-left: 100px;

    font-size: 30px;
    color: #ffffff;
}

.intro-box__button {
    margin-top: 30px;
    margin-left: 100px;
}