.main-nav {
    border-bottom: 1px solid #c8cccf;
}

.main-nav--footer {
    position: relative;
    border: none;
    background-color: @light-grey;
}

.main-nav__colums {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    min-height: 120px;

    .container;
}

.main-nav__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 55px;
}

.main-nav__logo {
    margin-top: 40px;
    width: 210px;
    height: 32px;
}

.main-nav__item {
    position: relative;
    margin-right: 28px;

    &:last-child {
        margin-right: 0;    
    }    
}

.main-nav__item > a {
    position: relative;

    font-size: 19px;
    font-weight: 100;
    line-height: 20px;
    text-decoration: none;
    color: #000000;

    outline: none;

    transition: color 0.2s ease-in 0s;

    &:hover, &:focus {
        color: @red;
    }

    &::before {
        content: '';

        display: block;
        position: absolute;

        left: 0;
        right: 0;
        bottom: -3px;

        height: 2px;

        background-color: @red;
        opacity: 0;

        transition: opacity 0.2s ease-in 0s;
    }

    &:hover::before,
    &:focus::before {
        opacity: 1;
    }
}

.main-nav__submenu {
    display: none;
    position: absolute;

    left: -30px;
    top: 100%;
 
    padding: 14px 30px;

    background-color: @light-grey;
    opacity: 0;
    z-index: 1;

    transition: opacity 1s ease-out 0s;
}

.main-nav__item--with-sub:hover .main-nav__submenu,
.main-nav__item--with-sub:focus .main-nav__submenu {
    display: flex;
    opacity: 1;
}

.main-nav__sublist {
    margin-right: 28px;
    width: 292px;

    &:last-child {
        margin-right: 0;
    }
}

.main-nav__subitem > a {
    display: block;

    box-sizing: border-box;
    padding: 10px 0;
    min-height: 40px;

    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #000000;

    border-bottom: 1px solid #dfe1e2;
    outline: none;

    &:hover, &:focus {
        color: @red;
    }
}

.main-nav__up-button {
    top: calc(-53px/2);
    left: calc(50% - 53px/2);
}