@media (min-width: @large) {
    .main-nav {
        border-bottom: 1px solid #c8cccf;
    }
}

.main-nav--footer {
    position: relative;
    border: none;
    background-color: #ffffff;
}

.main-nav__colums {
    position: relative; 
    min-height: 46px;   
}

@media (min-width: @small) {
    .main-nav__colums {
        min-height: 65px;
    }
}


@media (min-width: @large) {
    .main-nav__colums {
        min-height: 120px;
    }
}

.main-nav__list {
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-nav__wrapper {
    position: absolute;

    top: 100%;
    left: 0;
    right: 0;

    background-color: #f4f4f4;
    z-index: 2;
}

.main-nav--footer .main-nav__wrapper {
    display: none;
}

@media (min-width: @large) {
    .main-nav--footer {
        background-color: @light-grey;
    }

    .main-nav--footer .main-nav__wrapper {
        display: block;
    }
}

@media (min-width: @small) {
    .main-nav__list {
        margin-top: 15px;
    }

    .main-nav__wrapper {
        position: static;
        background-color: transparent;
    }
}

@media (min-width: @medium) {
    .main-nav__wrapper {
        display: block;
    }
}

@media (max-width: @medium) {
    .main-nav--closed .main-nav__wrapper {
        display: none;
    }

    .main-nav--opened .main-nav__wrapper {
        display: block;
    }
}

.main-nav__logo {
    width: 100px;
    height: 16px;
}

@media (min-width: @small) {
    .main-nav__logo {   
        margin-top: 15px;     
        width: 210px;
        height: 32px;
    }
}

@media (min-width: @extraLarge) {
    .main-nav__logo {
        margin-top: 0;
    }
}

.main-nav__item {
    position: relative;
    margin-right: 15px;

    &:last-child {
        margin-right: 0;
        padding-right: 0;
    }    
}

.main-nav__item > a {
    position: relative;

    font-size: 17px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0px;
    text-decoration: none;
    color: #000000;

    outline: none;

    transition: color 0.2s ease-in 0s;

    &:hover, &:focus {
        color: @red;
    }    
}

@media (min-width: @small) {
    .main-nav__item > a {
        font-size: 19px;

        &::before {
            content: '';

            display: block;
            position: absolute;

            left: 0;
            right: 0;
            bottom: -3px;

            height: 2px;

            background-color: @red;
            opacity: 0;

            transition: opacity 0.2s ease-in 0s;
        }

        &:hover::before,
        &:focus::before {
            opacity: 1;
        }
    }
}

@media (min-width: @large) {
    .main-nav__item:last-child {
        display: none;
    }
}

.main-nav__submenu {
    display: none;
    position: absolute;

    left: 0;
    top: 100%;
 
    box-sizing: border-box;
    padding: 14px 15px;
    width: 640px;

    background-color: @light-grey;
    z-index: 1;

    transition: opacity 1s ease-out 0s;
}

@media (min-width: @medium) {
    .main-nav__item--with-sub:hover .main-nav__submenu,
    .main-nav__item--with-sub:focus .main-nav__submenu {
        display: flex;
    }
}

.main-nav__sublist {
    padding-right: 15px;
    padding-left: 15px;
}

.main-nav__subitem > a {
    display: block;

    box-sizing: border-box;
    padding: 10px 0;
    min-height: 40px;

    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #000000;

    border-bottom: 1px solid #dfe1e2;
    outline: none;

    &:hover, &:focus {
        color: @red;
    }
}

@media (min-width: @large) {
    .main-nav__up-button {
        position: absolute;
        top: calc(-53px/2);
        left: calc(50% - 53px/2);
    }
}

.main-nav__switch {
    margin-top: 15px;
    width: 34px;
    height: 25px;

    background-color: transparent;
    border: none;
    background-image: url('../img/burger-button.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
}

@media (min-width: @medium) {
    .main-nav__switch {
        display: none;
    }
}