.page-main {
    margin-bottom: 85px;
}

.page-main__container {
    padding-top: 10px;
}

.page-main__breadcrums {
    margin-bottom: 25px;
}

.page-main__intro {
    margin-bottom: 40px;
}

.page-main__description {
    margin: 0 0 45px 0;

    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
}

.page-main__description p {
    padding: 0;
    margin: 0 0 10px 0;
}

.page-main__feature {
    margin-bottom: 60px;
}

.page-main__title {
    margin-bottom: 25px;

    font-size: 25px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.page-main__ecologic {
    margin-bottom: 55px;
}

.page-main__fields {
    margin-bottom: 55px;
}

.page-main__product-lines {
    margin-bottom: 95px;
}

.page-main__advantages {
    margin-bottom: 60px;
}